[core]
  editor = nvim

[push]
  default = simple

[user]
	email = newbiejailer@gmail.com
	name = newbiejailer

[hub]
	protocol = https

[alias]
  st = status
  ci = commit --verbose
  df = diff
  dfh = diff HEAD
  lg = log -p
  ap = add -p
  co = checkout
